@font-face{
  font-family: 'Press Start 2P';
  src: url('./PressStart2P-Regular.ttf')
}
body{
  /* overflow-y: hidden;
  overflow-x: hidden; */
  background-image: url('./earthclock.jpg');
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: 0px -300px;
}
#menu{
  background:linear-gradient( 170deg,blue, mediumblue, navy );
  height: 30%;
  width: 99%;
  border: 5px solid white;
  border-radius: 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  font-size: 35px;
  display: flex;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  padding: 0;
}

#hp{
  margin-left: 100px;
}
#health{
  width: 100%;
  height: 35px;
  border: 2px solid white;
  margin-top: 5px;
  border-radius: 5px;
}
#bar{
  transition-property: width;
  transition-duration: 1.5s;
  /* transition-timing-function: linear; */
  display: inline-block;
  background: linear-gradient(orangered, darkred);
  width: 0;
  height: 35px;
}
.menu_item{
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.numbers{
  /* margin-left: 75px !important; */
}
.pointer{
  animation-duration: .6s;
  animation-name: point;
  position: relative;
  left: 50px;
  animation-iteration-count: infinite;
  /* transform: scale(7); */
  height: 35px;
  width: 200px;
  background-image: url("https://vignette.wikia.nocookie.net/finalfantasy/images/4/4c/Cursor.png/revision/latest/fixed-aspect-ratio-down/width/240/height/240?cb=20080419135704&fill=transparent"); 
  background-size: 275px;
  background-repeat: no-repeat;
  background-position: -30px -119px;
}

@keyframes point{
  0%{
    left: 55px;
  }
  50%{
   left: 70px;
  }
  100%{
    left: 55px;
  }
}

.hidden{
  visibility: hidden;
}

#hp div{
  margin-top: 10px;
}

#display{
  width: 80%;
  text-align: center;
  margin: auto;
  padding: 10px;
  background:linear-gradient( 170deg,blue, mediumblue, navy );
  border: 5px solid white;
  border-radius: 10px;
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 25px;
  margin-top: 15px;
}
#char_select{
  background:linear-gradient( 170deg,blue, mediumblue, navy );
  border: 5px solid white;
  border-radius: 10px;
  font-family: 'Press Start 2P', cursive;
  color: white;
  min-width: 80%;
  height: 80%;
  top: 6%;
  bottom: 6%;
  left: 6%;
  right: 6%;
  font-size: 25px;
  padding: 2%;
  position: absolute;
  z-index: 1;
}

#screen{
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
input{
  font-size: 30px;
  background: none;
  border: 2px solid white;
  text-align: center;
  display: block;
  width: 80%;
  margin: auto;
  color: white;
  font-family: 'Press Start 2P', cursive;
  padding: 10px;
}
input:focus{
  outline: none;
  box-shadow: white 0 0 15px;
}

#start, #next{
  font-size: 30px;
  background-color: black;
  border: 2px solid white;
  text-align: center;
  /* display: block; */
  color: white;
  font-family: 'Press Start 2P', cursive;
  padding: 10px;
  margin-top: 5%;
  border-radius: 10px;
  cursor: pointer;
}
#start:hover, #next:hover{
  background-color: blue;
}
.container{
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: 4% auto;
}
.char_container{
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: 4% auto;
}

.char_choice{
  height: 33px;
  width: 33px;
  background: url('./testsprites.png');
  transform: scale(2.9)
}
#char_1{
  background-position: 0px -2px;
}
#char_2{
  background-position: 0px -40px;
}
#char_3{
  background-position: 0px -79px;
}
#char_4{
  background-position: 0px -116px;
}
#char_5{
  background-position: 0px -154px;
}
#char_6{
  background-position: 0px -187px;
}
.carrot_hole{
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.active{
  border-bottom: 10px solid white;
}
#me{
  height: 33px;
  width: 33px;
  background: url('./testsprites.png');
  transform: scale(2.9) scaleX(-1);
  position: absolute;
  top: 50%;
  left: 27%;
  transition-property: left;
  transition-duration: 1s;
  transition-timing-function: linear;
  background-position-x: 0;
}

#enemy{
  height: 33px;
  width: 33px;
  background: url('./testsprites.png');
  transform: scale(2.9);
  position: absolute;
  top: 50%;
  right: 27%;
  transition-property: right, opacity;
  transition-duration: 1s;
  transition-timing-function: linear;
}
#my_move{
  background: url('./hands.png');
  position: absolute;
  top: 45%;
  left: 40%;
  transition-property: left, opacity;
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: rotate(90deg);
  opacity: 1;
  height: 0px;
  width: 0px;
}
#enemy_move{
  background: url('./hands.png');
  position: absolute;
  top: 45%;
  right: 40%;
  transition-property: right, opacity;
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: rotate(90deg) scaleY(-1);
  opacity: 1;
  height: 0px;
  width: 0px;
}
#enemy_defence{
  background: url('./hands.png');
  position: absolute;
  top: 45%;
  right: 27%;
  transition-property: right, opacity;
  transition-duration: .6s;
  transition-timing-function: linear;
  opacity: 1;
  height: 0px;
  width: 0px;
}
#my_defence{
  background: url('./hands.png');
  position: absolute;
  top: 45%;
  left: 27%;
  transition-property: left, opacity;
  transition-duration: .6s;
  transition-timing-function: linear;
  opacity: 1;
  height: 0px;
  width: 0px;
}
#tip{
  color: yellow;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
#id{
  text-align: center;
  color: red;
  word-wrap: break-word;
}
.arrow{
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-top: 40px solid transparent;
  margin: 20px 40px 10px 40px;
  display: none;
}
.left-arrow{
  border-right: 80px solid white;
}
.right-arrow{
  border-left: 80px solid white;
}
.down-arrow{
  border-top: 40px solid white;
  margin: 0;
  position: relative;
  top: 20px;

}
.up-arrow{
  border-bottom: 40px solid white;
  margin: 0;
  position: relative;
  top: -20px;

}
#controls{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 14%;
  width: 98%;
  position: absolute;
  bottom: -2%;
  left: 0;
  background: linear-gradient(90deg,dimgrey, grey, dimgrey);
  /* border-top: 8px double black;
  border-bottom: 8px double black; */
  border: 8px double black;
  padding-bottom: 15px;
  display: none;
}
#select{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: radial-gradient( red, orangered);
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  box-shadow: 5px 5px 5px;
}

@media (max-width:1450px)  {
  body{
    background-size: 150% auto;
    background-position: 0px -600px;
  }
}
@media (max-width:1400px)  {}
@media (max-width:1350px)  {}

/* this computer */
@media (max-width:1300px)  {
  body{
    background-size: 150% auto;
    background-position: 0px -600px;
  }
  #controls{
    display: none;
  }
}

/* ??? */
@media (max-width:1250px)  {
  body{
    background-size: 200% auto;
  }
  /* #choose{
    margin-top: 10%;
    margin-bottom: 10%;
  } */
  #char_select p{
    font-size: 22px;
  }
  #char_select{
    height: 85%;
  }
  .left-arrow{
    margin-bottom: 10%;
  }
  .right-arrow{
    margin-bottom: 10%;
  }
  #next, #start{
    padding: 20px;
  }
  #tip{
    font-size: 16px;
    line-height: 40px;
  }
  #menu{
    /* font-size: 16px; */
    /* height: 20%; */
    /* bottom: 14%; */
    width: 100%;
  }
  .menu_item{
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .pointer{
    width: 110px;
    height: 35px;
    background-size: 275px;
    background-repeat: no-repeat;
    background-position: -120px -119px;
  }
  @keyframes point{
    0%{
      left: 50px;
    }
    50%{
     left: 35px;
    }
    100%{
      left: 50px;
    }
  }

}
@media (max-width:1200px)  {}

/* ipad bro */
@media (max-width:1050px){
  #controls{
    display: flex;
    width: 99%;
  }
  .arrow{
    display: block;
  }
}
@media (max-width:1050px and orientation: landscape)  {
  .arrow{
    display: block;
  }
  #controls{
    display: flex;
    width: 99%;
  }
  body{
    background-size: 200% auto;
    background-position: -100px -400px;
  }
}
@media (max-width:1000px)  {}
@media (max-width:950px)  {}
@media (max-width:900px)  {}
@media (max-width:850px)  {}

/* kindle fire */
/* nexus 10 */
@media (max-width:800px){
  body{
    background-position: -100px -210px;
  }
  .menu_item{
    font-size: 25px
  }
  #hp{
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .pointer{
    width: 50px;
    height: 25px;
  }
  @keyframes point{
    0%{
      left: 0px;
    }
    50%{
     left: 10px;
    }
    100%{
      left: 0px;
    }
  }
}

/* ipad */
@media (max-width:790px)  {
  body{
    background-size: 200% auto;
    background-position: -100px -300px;
  }
  
}

/* THESE STYLES FROM IPHONE 6,7,8 PLUS */
/* @media (max-width:600px)  { */
  @media (max-width:750px)  { */

  .char_choice{
    transform: scale(2.4)
  } 
  #char_select p{
    font-size: 22px;
  } 
  #start, #next{
    padding: 15px 10px;
  }
  #tip{
    font-size: 16px;
    line-height: 27px;
    margin: 40px 0;
  }
  body{
    background-size: 200% auto;
    background-position: -100px -30px;
    background-repeat: no-repeat;
  }
  #menu{
    font-size: 16px;
    height: 20%;
    bottom: 16%;
  }
  .menu_item{
    margin: 15px 5px;
  }
  .pointer{
    left: 0;
    width: 30px;
    height: 17px;
    background-position: -78px -78.5px;
    background-size: 180px;
    margin: 0;
  }
  @keyframes point{
    0%{
      left: 0px;
    }
    50%{
     left: -10px;
    }
    100%{
      left: 0px;
    }
  }
  #hp{
    margin-left: 5%;
  }
  .container{
    width: 30%;
  }

}

@media (max-width:600px){
  .pointer{
    margin: 15px 0px;
    height: 25px;
  }
  .numbers{
    margin: 15px 1px;
    font-size: 22px;
  }
  #hp{
    margin-left: 3%;
    margin-right: 3px;
  }
  #tip{
    font-size: 14px;
    line-height: 24px;
    margin: 40px 0;
  }
}
@media (max-width:550px){
  .menu_item{
    font-size: 16px;
  }
  #hp{
    font-size: 16px;
  }
  #char_select{
    height: 85%;
  }
  .char_container{
    width: 100%;
  }
  .pointer{
    width: 20px;
    margin: 15px 0;
    background-position: -80px -78px;
  }
  .numbers{
    margin: 15px 1px;
  }
  body{
    background-position: -200px -150px;
    background-size: 220% auto; 
  }
}
/* iphone 6,7,8 plus */
/* pixel 2xl */
/* pixel 2 */
@media (max-width:456px){
  #hp{
    margin-right: 10px;
  }
  .carrot_hole{
    margin-top: 15px;
  }
  #start, #next{
    padding: 8px 10px;
  }
  .numbers{
    font-size: 15px;
    margin: 15px 1px;
  }
  body{
    background-position: -200px -150px;
    background-size: 250% auto; 
  }
}
/* iphone X */
@media (max-width:410px){
  #hp, .menu_item{
    font-size: 14px;
  }
  .numbers{
    font-size: 13px;
  }
  .pointer{
    width: 20px;
    height: 14px;
    background-position: -70px -71px;
    background-size: 160px;
  }
  body{
    background-position: -200px -30px;
    background-size: 220% auto; 
  }
  .char_choice{
    transform: scale(2);
  }
  #display{
    font-size: 20px;
  }
}
@media (max-width:400px){
 #char_select #tip{
   font-size: 14px;
 }
}
/* iphone 5/SE */
@media (max-width:360px){
  #select{
    height: 70px;
    width: 70px;
    line-height: 70px;
  }
  .numbers{
    font-size: 12px;
    margin: 15px 1px;
  }
  #char_select p{
    font-size: 16px;
    text-align: center;
  }
  #char_select{
    height: 85%;
  }
  body{
    background-position: -200px -70px;
    background-size: 220% auto; 
  }
  #hp, .menu_item{
    font-size: 12px;
  }
  .pointer{
    width: 17px;
    height: 14px;
    background-position: -63px -60px;
    background-size: 140px;
  }
  @keyframes point{
    0%{
      left: 0px;
    }
    50%{
     left: -10px;
    }
    100%{
      left: 0px;
    }
  }
}

@media (max-width:320px){
  #tip{
    font-size: 12px;
    line-height: 18px;
    margin: 10px 0;
  }
  #display{
    font-size: 16px;
  }
  #controls{
    /* height: 14%; */
  }
  #menu{
    bottom: 18%;
    height: 16%;
  }
  #bar{
    height: 15px;
  }
  #health{
    height: 15px;
  }
  #char_select p{
    margin: 8px 0;
  }
  #select{
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
}